@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            @for(int r = 0; r < 9; r++) {
                <tr>
                    @for(int c = 0; c < 9; c++) {
                        <td class="col-md-1 text-center" >
                            @if (@Model.Puzzle[r,c] == 0) {
                                
                            } else {
                                @Model.Puzzle[r,c]
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            @for(int r = 0; r < 9; r++) {
                <tr>
                    @for(int c = 0; c < 9; c++) {
                        <td class="col-md-1 text-center" >
                            @Model.Solution[r,c]
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
